* {
    font-family: 'bobs_burgersregular';
    src: url('bobs_burgers-webfont.woff2') format('woff2'),
    url('bobs_burgers-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}  

p {
    line-height: 1.6em;
}

body{
    background-image: url("./bob-s-burgers-zoom-background-lv6r7fn40m79ajrz.jpg");
    background-size: cover;
    background-repeat: no-repeat; 
    height: 100%; 
    background-color: black;
}  

.container {
    display: flex;
    flex-direction: row;
    margin-left: 200px;
    margin-top: 40px;
    margin-bottom: 5px; 
}

.container__col-1 {
    width: auto;
}

.container__col-2 {
    width: auto;
}

 #firstTitle, #secondTitle {
   font-size: 50px;
    animation: flicker 3.0s infinite alternate;  
    border: 0.2rem solid red;
   color: red;
    padding: 0.4em;
    background-color: rgb(247, 247, 67);  
    text-align: center;
    width: 460px;
    margin-left: 100px;
} 

#firstTitle {
    margin-top: 30px;
    margin-right: 150px;
    height: 120px;
}

#secondTitle {
    margin-top: 30px;
}

#Generate-btn, #BurgerBTN, #saveBTN { 
    font-size: 35px;  
    border: 0.2rem solid red;
    border-radius: 2rem;
    padding: 0.4em;  
    background-color: rgb(247, 247, 67);   
    color: red;  
    flex-wrap: wrap;
} 

#Generate-btn {
    font-size: 35px;
    margin-left: 90px;
    width: 500px;
}

#BurgerBTN {
    font-size: 35px;
    width: 550px;
    margin-left: 40px;
}

#saveBTN {
    font-size: 25px;
    width: 150px;
}

@keyframes flicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
      text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px rgb(255, 82, 82),
        0 0 80px rgb(255, 82, 82) ,
        0 0 90px rgb(255, 82, 82),
        0 0 100px rgb(255, 82, 82),
        0 0 150px rgb(255, 82, 82);
    }
    20%, 24%, 55% {       
      text-shadow: none;
    }

}

#Character, #recipe {
    width: 300px;
    height: 300px;
    background-color: rgb(247, 247, 67);
    opacity: .7;
    margin-top: 10px;
    box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 2rem red,
              0 0 0.8rem red,
              0 0 2.8rem red,
              inset 0 0 1.3rem red; 
} 

#recipe {
    margin-left: 200px;
    margin-bottom: 30px;
}
 
#Character {
     margin-bottom: 30px;
     margin-left:200px;
}


/* tablet */
@media screen and (max-width:820px) {
    .container {
        margin-left: 65px;
        margin-top: 35px;
        flex-direction: column;
        margin-bottom: 65px;
        }

    .container__col-1{ 
        width: auto;
        }

    .container__col-2{
        width: auto;
        }

    #recipe { 
       width: 300px;
       height: 300px;
       margin-bottom: 30px;
       margin-left:200px;
        }

    #Character {
        width: 300px;
        height: 300px;
        margin-bottom: 25px;
        margin-left: 200px;
        }

    #firstTitle, #secondTitle {
        font-size: 40px;
        width: 350px;
        margin-left: 150px;
        text-align: center;
        }

    #firstTitle {
        margin-top: 5px;
        margin-bottom: 30px;
        margin-right: 0;
        height: 75px;
        }

    #secondTitle {
        margin-top: 30px;
        width:350px;
        margin-bottom: 30px; 
        }

    #Generate-btn { 
        font-size: 30px; 
        margin-left: 180px;
        width: 350px;
        margin-bottom: 30px;
       } 

    #BurgerBTN {
       font-size: 30px;
       width: 350px;
       margin-left: 120px;
    }

    #saveBTN {
        font-size: 30px;
        width: 100px;
    }
}



/* phone */
@media screen and (max-width: 768px){ 
    .container{
        margin-left: 25px;
        margin-top: 10px;
        flex-direction: column;
        margin-bottom: 10px; 
    }

    .container__col-1{ 
        width: auto;
    }

    .container__col-2{
        width: auto;
    } 

    #recipe { 
       width: 200px;
       height: 200px;
       margin-bottom: 20px;
       margin-left: 75px;
    }

    #Character {
        width: 200px;
        height: 200px;
        margin-bottom: 20px;
        margin-left: 75px;
    }
    
    #firstTitle, #secondTitle {
        font-size: 30px;
        width: 250px;
        margin-left: 30px;      
    }
    #firstTitle {
        margin-top: 1px;
        margin-bottom: 20px;
        margin-right: 0;
        height: 50px;
    }

    #secondTitle {
        margin-top: 1px;
        width:250px;
        margin-bottom: 20px;
    }

    #Generate-btn { 
        font-size: 25px; 
        margin-left: 15px;
        width: 300px;
        margin-bottom: 20px;
    } 

    #BurgerBTN {
       font-size: 25px;
       width: 300px;
       margin-left: 15px;
       margin-bottom: 10px;
    }

    #saveBTN {
        font-size: 25px;
        width: 100px;
        margin-left: 120px;
        margin-top: 5px;
    }
}
